@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(199, 207, 172, 1);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.btn {
  background-color: rgba(43, 91, 108, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:focus {
    outline: none;
  }
}
